* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;

}

div {
    margin-top: 30px;
    width: 50%;
    text-align: left;
    padding: 10px;
    height: 50%;

}

.borde-punteado {
    border: 1px dotted black;
    border-radius: 15px;
}

.borde-punteado-blanco {
    border: 1px dotted white;
    border-radius: 15px;
}

form {

    margin: 10px;
}